<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="btl_hsk" connectionString="Data Source=DESKTOP-BJPGSDR\SQLEXPRESS;Initial Catalog=btl_hsk;Integrated Security=True"
      providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>